:root {
	--accent: #aa1a1a;
	--accent2: #7bdbe8;
	--btnbg: #333;
	--bg1: #111;
	--bg2: #1a1a1a;
	--borderW: 0.25rem;
	--green: #4cd649;
	--yellow: #f2c144;
}

* {
	transition: 0.2s linear;
	user-select: none;
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.scroll {
	overflow: auto;
}

.disableScrollBar {
	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;

	/* Chrome, Safari, and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
}

.shop {
	&.container {
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 100%;
	}

	&.left {
		flex-grow: 1;
		/* use shop-right to edit size */
		height: 100%;
		background-color: var(--bg1);
	}

	&.right {
		width: 60%;

		& > div {
			width: 50%;
			height: 100%;
		}
	}

	h1,
	h3,
	p {
		text-align: center;
		margin: 10px 0;
		width: 100%;
	}

	div.block,
	.button {
		margin: 10px;
	}

	div.block {
		margin-bottom: 0;
	}

	.tooltip {
		width: 0;
		height: 0;
		margin-left: auto;
		display: flex;
		flex-direction: row-reverse;
	}

	.tab {
		cursor: var(--cpointer), pointer;
		padding-bottom: 0.7em;
		input {
			display: none;
		}
		p {
			padding: 0.5rem 1rem;
			margin: 0;
			border-radius: 0.5rem;
			border: transparent solid var(--borderW);
			box-sizing: border-box;
		}
		input:checked + p {
			border-color: white;
		}
	}

	div:has(> .tab) {
		justify-content: space-evenly;
	}

	#upgrades {
		flex-grow: 1;
	}
}

button.green {
	border-color: var(--green);

	&:disabled {
		border-color: transparent;
	}
}

button.yellow {
	border-color: var(--yellow);

	&:disabled {
		border-color: transparent;
	}
}
